.introductionContainer {
    margin-left: -50px;
    z-index: 4;
}

.teamPhotoContainer {
    z-index: 3;
}

.meetTheTeam-section__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.meetTheTeam-section__description-title {
    font-family: 'Mosk', sans-serif;
    font-weight: 900;
    font-size: clamp(0.85rem, 5vw, 1.25rem);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.meetTheTeam-section__description-text {
    width: 711px;
    font-family: var(--font-noto-sans);
    font-weight: 400;
    font-size: clamp(0.75rem, 5vw, 0.87rem);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    opacity: 0.6;
}

.teamMemberCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 38px;
}