.introductionContainer {
    margin-left: -50px;
    z-index: 4;
}

.teamPhotoContainer {
    width: 70vw;
    height: 600px;
    position: relative;
    z-index: 3;
}

.teamPhoto {
    object-fit: cover;
    border-radius: 300px 300px 40px 40px;
}

.meetTheTeam-section__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.meetTheTeam-section__description-title {
    font-family: 'Mosk', sans-serif;
    font-weight: 900;
    font-size: clamp(0.85rem, 5vw, 1.25rem);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.meetTheTeam-section__description-text {
    width: 711px;
    font-family: var(--font-noto-sans);
    font-weight: 400;
    font-size: clamp(0.75rem, 5vw, 0.87rem);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    opacity: 0.6;
}

.teamMemberCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 38px;
}

@media (max-width: 1550px) {
  .introductionContainer {
    margin-left: -30px;
  }
}

@media (max-width: 1420px) {
  .introductionContainer {
    margin-left: -10px;
  }
}

@media (max-width: 1200px) {
  #about-us-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .meetTheTeam-section__description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .meetTheTeam-section__description-text {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 600px) {
  .teamPhotoContainer {
    height: 460px;
  }

  .teamMemberCards {
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 100px;
  }

}

@media (max-width: 460px) {
  .teamPhotoContainer {
    height: 360px;
  }
}