/* Mosk Light */
@font-face {
  font-family: 'Mosk';
  src: url('/fonts/MoskLight300.woff2') format('woff2'),
       url('/fonts/MoskLight300.woff') format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Mosk Regular */
@font-face {
  font-family: 'Mosk';
  src: url('/fonts/MoskNormal400.woff2') format('woff2'),
       url('/fonts/MoskNormal400.woff') format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Mosk Medium */
@font-face {
  font-family: 'Mosk';
  src: url('/fonts/MoskMedium500.woff2') format('woff2'),
       url('/fonts/MoskMedium500.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Mosk Bold */
@font-face {
  font-family: 'Mosk';
  src: url('/fonts/MoskUltra-Bold900.woff2') format('woff2'),
       url('/fonts/MoskUltra-Bold900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans Regular */
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2'),
       url('/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-noto-sans: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-noto-sans);
  position: relative;
  overflow-x: hidden;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow: hidden;
}

.heroSection-container {
  width: 71%;
}

.hip {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

.title {
  font-family: 'Mosk', sans-serif;
  font-size: clamp(2.1rem, 5vw, 8.25rem);
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin-left: -7px;
}

.description {
  font-size: clamp(0.75rem, 1vw, 0.87rem);
  font-weight: 400;
  line-height: 19.07px;
  color: white;
}

.btnStarShape {
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.starShape-container {
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.starShape-container img {
  object-fit: contain;
}

.star-shape {
  animation: rotateAnimation 3s linear infinite;
  z-index: 2;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

.star-round {
  position: absolute;
  bottom: 0;
}

.heroSection__btns-container {
  display: flex;
}

.heroSection__btns-container:first-child a {
  margin-right: 32px;
}


/* Who we are section */
.whoWeAreSection__container .upTitle, .whatWeCanDo-section__container .upTitle{
  font-size: clamp(1rem, 5vw, 1.25rem);
  font-weight: 300;
  text-transform: uppercase;
}

.whoWeAreSection__container .title, .whatWeCanDo-section__container .title {
  margin: 50px 0;
}

.whoWeAreSection__container .desc .whatWeCanDo-section__container .desc {
  font-size: clamp(0.85rem, 5vw, 1.25rem);
  font-weight: 400;
}

.whoWeAreSection__image-container {
  width: 612px;
  height: 690px;
  border-radius: 300px 300px 40px 40px;
  overflow: hidden;
}

.whoWeAreSection__image-container img {
  object-fit: cover;
}

.whoWeAreSection__container {
  z-index: 1;
}

.whoWeAreSection__container, .whoWeAreSection__image-container {
  position: absolute;
}

.whoWeAreSection__image-container {
  right: 7%;
}

.whoWeAreSection__button-container {
  width: 35%;
  height: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.whatWeCanDo-section__listsSection {
  display: flex;
  flex-direction: column;
  padding-left: 35vw;
}

.whatWeCanDo-section__listsSection .lists {
  /* width: 50%; */
  display: flex;
  gap: 250px;
  margin-bottom: 60px;
}

.whatWeCanDo-section__listsSection .lists ul {
  list-style: none;
}

@media (max-width: 690px) {
  .heroSection-container {
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heroSection-container .description {
    text-align: center;
  }

  .heroSection__btns-container {
    display: flex;
    flex-direction: column;
  }

  .heroSection__btns-container:first-child a {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .btnStarShape {
    height: auto;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 690px) {

}