 .logo {
    cursor: pointer;
    position: fixed;
    top: 66px;
    z-index: 999;
    margin-left: 13%;
    background: inherit;
    mix-blend-mode: difference;
    cursor: none;
  }

  .svgLogo {
    mix-blend-mode: difference;
  }

  @media (max-width: 690px) {
    .logo {
      top: 20px;
      margin-left: 20px;
    }
  }