.services-section {
  padding: 13%;
  background-color: white;
}

.services-section__header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.services-list-container {
    margin-top: 80px;
}

.services-section__header .starShape-container {
    margin-top: -18px;
}

@media (max-width: 660px) {
  .services-list-container {
    margin-top: 30px;
  }

  .services-section__header .starShape-container {
    display: none;
  }
}
