.section {
    height: 100vh;
    padding-left: 13%;
    display: flex;
}

.heroSection, .about-us-section {
    align-items: left;
    background-color: #1e1e1e;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.heroSection::before, .about-us-section::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }

  @keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.light {
    background-color: white;
}


/* Who We Are Section */
.whoWeAreSection {
    justify-content: space-between;
    align-items: center;
    padding-right: 6%;
}


/* What We've Done Section */
.whatWeveDoneSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-left: 0;
}

.whatWeveDoneSection div {
    display: flex;
    gap: clamp(15px, 30px, 30px);
}

.whatWeveDoneSection a {
    cursor: pointer;
    
}

.whatWeveDoneSection p {
    text-decoration: underline;
    font-weight: 400;
    font-size: clamp(0.85rem, 2vw, 1rem);
    color: black;
    margin-top: 20px;
}

.whatWeCanDo-section {
    justify-content: center;
    flex-direction: column;
    padding-right: 160px;
}

.contact-us-page {
    justify-content: center;
    flex-direction: column;
    padding-right: 160px;
}

.about-us-section {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 13%;
}

.meetTheTeam-section {
    justify-content: center;
    padding-right: 13%;
    flex-direction: column;
}

.services-section {
  padding: 13%;
  background-color: white;
  flex-direction: column;
}

@media (max-width: 770px) {
  .section {
    padding: 0 6vw;
    /* align-items: center; */
  }
}

@media (max-width: 690px) {
  .section {
    align-items: center;
    /* align-items: center; */
  }
}