.sideBar {
    width: 5vh;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 179px;
    background-color: white;
    z-index: 999;
}

.burgerMenu {
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: none;
    position: relative;
    background-color: transparent;
    border: none;
  }
  
  .burgerMenu div {
    width: 24px;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }

  .burgerMenu:hover > div {
    box-shadow: 1px 2px 2px #984DE5;
  }
  
  /* Open State Styles */
  .burgerMenu.open div:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .burgerMenu.open div:nth-child(2) {
    opacity: 0;
  }
  
  .burgerMenu.open div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
  }

  .sideBar__navListItem {
    writing-mode: vertical-rl;
    font-family: 'Mosk', sans-serif;
    font-size: clamp(0.65rem, 5vw, 0.75rem);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    margin-top: 12px;
    opacity: 0.7;
    transition: opacity 0.7s ease;
  }

  .active .sideBar__navListItem {
    font-weight: 500;
    opacity: 1;
  }

  .linkContainer img {
    scale: 0;
    transition: all .7s ease;

  }

  .active img {
    scale: 1
  }

  .touchScreen {
    background-color: transparent;
    height: auto;
    padding: 30px;
  }

  .white div {
    background-color: white;
    mix-blend-mode: difference;
  }
  
  @media (max-width: 770px) {
    .burgerMenu.isTouch div {
      box-shadow: 1px 2px 2px #984DE5
    }
  }