.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 14px 0;
    background-color: white;
    cursor: none;
}

.social {
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
    color: black
}