.client-container {
    padding: 13% 62px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-container__heading {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 74px;
}

.client-container__description {
    width: 50%;
}

.client-container__description-title {
    width: 70%;
    margin-bottom: 30px;
}

.client-container__description-text {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 0.6;
}

.client-container__image {
    width: 50%;
    position: relative;
    height: 364px;
    margin-right: calc(5vh+62px);
}

.client-container__image img {
    object-fit: cover;
}

.client-container__description-data {
    width: 100%;
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.client-container__description-data-title {
    font-family: 'Mosk';
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.client-container__description-data-text {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.client-container__description-data-website a {
  text-transform: none;
  color: black;
}

.banner-container {
    width: 100%;
    height: 50vh;
    position: relative;
}

.banner-container img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

.challenge {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 74px 0;
}

.challenge h3 {
    width: 50%;
    font-family: 'Mosk';
    font-weight: 900;
    font-size: 18px;
    text-transform: capitalize;
}

.challenge p {
    width: 50%;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
    text-transform: capitalize;
}

.gallery-container {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
}

.gallery-item {
    width: 30%;
    height: 40vh;
    position: relative;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.gallery-item img {
    object-fit: cover;
}

@media (max-width: 1100px) {
  .client-container__image {
    height: 295px;
  }

  .gallery-item {
    height: 30vh;
  }
}

@media (max-width: 860px) {
  .client-container__image {
    height: 295px;
  }

  .gallery-item {
    height: 20vh;
  }
}

@media (max-width: 660px) {
  .client-container__heading {
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 74px;
  }

  .client-container__image {
    width: 100%;
  }

  .client-container__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-container {
    width: 130%;
  }

  .challenge {
    padding: 30px 0;
  }

  .gallery-container {
    row-gap: 30px;
  }

  .gallery-item {
    width: 100%;
    height: 40vh;
  }

  .client-container__description-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .client-container__description-text {
    text-align: justify;
  }
}

@media (max-width: 460px) {
  .gallery-item {
    width: 100%;
    height: 30vh;
  }

  .challenge {
    flex-direction: column;
    align-items: center;
  }

  .challenge h3 {
    text-align: center;
  }

  .challenge p {
    width: 100%;
    margin-top: 20px;
    text-align: justify;
  }

  .client-container__description-data {
    flex-direction: column;
  }

  .client-container__description-data-title {
    margin-bottom: 0px;
  }

  .client-container__description-data-text {
    margin-bottom: 10px;
  }

  .client-container__image {
    height: 160px;
  }

  .client-container {
    padding: 19% 10px 0;
  }
}

